<!DOCTYPE html>
<html>
<head>
   <title>Know Me</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
   <%= javascript_include_tag "application"%>
   <%= csrf_meta_tags %>
</head>
<body>
   <%=params["alert"]%>
   <%if user_signed_in?%>
      <%=link_to "Clear Session",destroy_user_session_path,method: :delete%>
   <%end%>
   <%= yield %>
</body>
</html>
