<!DOCTYPE html>
<html>
<head>
   <title>Know Me</title>
   <%= stylesheet_link_tag    "application", :media => "all" %>
   <%= javascript_include_tag "application"%>
   <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper jsc-sidebar-content jsc-sidebar-pulled">
   <nav> <a href="#" class="icon-menu link-menu jsc-sidebar-trigger">Menu</a> </nav>
   <section class="main-content">
      <%=params["alert"]%>
      <%= yield %>
   </section>
</div>
<nav class="sidebar jsc-sidebar" id="jsi-nav" data-sidebar-options="">
<ul class="sidebar-list">
   <li>
     <a href="#" class="current">Download</a>
   </li>
   <%if user_signed_in?%>
   <li>
     <%=link_to "Clear Session",destroy_user_session_path,method: :delete%>
   </li>
   <%end%>
   <li>
     <a href="http://www.jqueryscript.net">More jQuery Plugins</a>
   </li>
</ul>
</nav> 
</body>
</html>
<script type="text/javascript">
$('#jsi-nav').sidebar({
  trigger: '.jsc-sidebar-trigger'
});
</script>